name: Build Service

on:
  workflow_dispatch:
  pull_request:
    paths-ignore: ["*.md"]
  push:
    paths-ignore: ["*.md"]

jobs:
  BuildPackage:
    runs-on: ubuntu-latest
    outputs:
        package_id:    ${{ steps.save-out.outputs.package_id }}
        package_title: ${{ steps.save-out.outputs.package_title }}
    steps:
      - name: Prepare StartOS SDK
        uses: aldum/start-sdk-action@v1.3.6

      - name: Checkout services repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup service package
        id: setup-build
        run: |
          git submodule update --init --recursive
          start-cli init
          npm i
          npm run build
          # make

      - name: Setting package ID and title from the manifest
        id: save-out
        run: |
          PKGID="$(sed -n -r -e "s/\s*id\s*: '(.+)',/\1/ p" startos/manifest.ts)"
          TITLE="$(sed -n -r -e "s/\s*title\s*: '(.+)',/\1/ p" startos/manifest.ts)"
          echo "package_id=$PKGID" | tee -a $GITHUB_ENV $GITHUB_OUTPUT
          echo "package_title=$TITLE" | tee -a $GITHUB_ENV $GITHUB_OUTPUT
        shell: bash

      - name: Build container image
        id: build
        continue-on-error: true
        run: |
          docker buildx build . -f Dockerfile -t start9/${{ env.package_id }} --platform=linux/amd64 --build-arg ARCH=x86_64
          docker buildx build . -f Dockerfile -t start9/${{ env.package_id }} --platform=linux/arm64 --build-arg ARCH=aarch64

      - name: Cache Docker layers
        uses: actions/cache@v4
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-single-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-single-buildx

      - name: List
        id: list
        continue-on-error: true
        run: |
          sudo ls -lRa /var/lib/docker
          echo '----------------------------------'
          sudo ls -lRa /tmp
          echo '----------------------------------'
          sudo ls -lRa /
          echo

      - name: Upload .s9pk
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.package_id }}.s9pk
          path: ./${{ env.package_id }}.s9pk

  ReleasePackage:
    permissions:
      id-token: write
      contents: write
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')
    needs:
      - BuildPackage
    steps:
      - name: Set up env
        run: |
          echo "package_id=${{ needs.BuildPackage.outputs.package_id }}"       >> $GITHUB_ENV
          echo "package_title=${{ needs.BuildPackage.outputs.package_title }}" >> $GITHUB_ENV

      - uses: actions/download-artifact@v4
        with:
          name: ${{ env.package_id }}.s9pk
          path: ./

      - name: Generate sha256 checksum
        run: |
          PACKAGE_ID=${{ env.package_id }}
          sha256sum ${PACKAGE_ID}.s9pk > ${PACKAGE_ID}.s9pk.sha256
        shell: bash

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          name: ${{ env.package_title }} ${{ github.ref_name }}
          prerelease: true
          files: |
            ./${{ env.package_id }}.s9pk
            ./${{ env.package_id }}.s9pk.sha256

      # - name: Publish to Registry
      #   env:
      #     S9USER: ${{ secrets.S9USER }}
      #     S9PASS: ${{ secrets.S9PASS }}
      #     S9REGISTRY: ${{ secrets.S9REGISTRY }}
      #   run: |
      #     if [[ -z "$S9USER" || -z "$S9PASS" || -z "$S9REGISTRY" ]]; then
      #       echo "Publish skipped: missing registry credentials."
      #     else
      #       start-sdk publish https://$S9USER:$S9PASS@$S9REGISTRY ${{ env.package_id }}.s9pk
      #     fi
